#container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

h1 {
    display: inline-block;
    width: 400px;
    text-align: center;
    margin-left: 480px;
    margin-top: 200px;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    background-color:#00220e;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    margin: 20px;
    height: 50px;
    width: 70px;
    background-color: yellow;
    color: black;
    border-radius: 20px;
    font-weight: 700;
    font-family: cursive;
}
body{
    background-image: url(./aksh-yadav-bY4cqxp7vos-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}